/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap"); */

:root {
  --primary-color: rgb(121, 66, 175);
  --secondary-color: rgb(61, 61, 61);
  --background-color: #222222;
  --font-family: "Poppins", sans-serif;
  --font-size-base: calc(10px + 1vmin);
  --font-size-large: 2rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --padding-base: 1rem;
  --padding-small: 0.5rem;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.mainContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* Body */

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

h1 {
  font-size: 2em;
  padding: 0.5rem;
}

h2 {
  font-size: 1em;
  padding: 0.5rem;
}

li {
  list-style: none;
}

/* Header */

.container {
  display: flex;
}

.siteLogoContainer {
  padding: 2rem;
  margin: 0;
}

.siteHeaderContainer {
  background-color: var(--primary-color);
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: left;
  /* align-items: center; */
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.siteTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.siteTitle {
  font-size: 2rem;
  /* height: clamp(6rem, 6vh, 8rem); */
  font-weight: bold;
  font-family: "Pacifico", cursive;
}

.siteSubtitle {
  padding-left: 0.2rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
/* Search bar */

.searchFormContainer {
  position: relative;
  top: clamp(1rem, 2vh, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
}

input {
  color: var(--primary-color);
  opacity: 1;
}

input::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
}

.searchForm {
  width: 95vw;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 1rem;
  border: 3px solid var(--primary-color);
}

/* Results */

.resultHeader {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.resultsContainer {
  padding: 0 0 2rem 0;
}

.resultContainer {
  display: grid;
  grid-template-columns: 40% 10% 25% 20%;
  font-weight: bold;
}

.resultDay {
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 0.3rem;
  width: 95vw;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 35% 10% 25% 25%;
  justify-content: space-around;
  padding: 0 0.4rem 0 0.4rem;
}

.resultDayItem {
  display: flex;
  align-items: center;
}

.weatherIcon {
  size: 1rem;
}

/* Footer */
.siteFooterContainer {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
  font-size: 0.8rem;
  opacity: 0.7;
  background-color: var(--secondary-color);
  height: 5vh;
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media only screen and (max-width: 440px) {
  .siteHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .siteTitle {
    padding-left: 0.2rem;
  }

  .searchForm {
    top: 20vh;
    font-size: 1.6rem;
  }
}

/* Center content and resize on larger screens */
@media only screen and (min-width: 1024px) {
  .mainContent {
    width: 50%;
    margin: 0 auto;
  }
}
