body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  text-align: center;
  font-size: 3em;
}

.border {
  border: 1px solid dodgerblue;
  padding: 3vw;
  margin: 1vw;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.Header {
  height: 10vh;
  width: 80vw;
}

.Body {
  height: 60vh;
  width: 80vw;
}

.Card {
}
