* {
  margin: 0px;
  box-sizing: border-box;
}

.mainContent {
  border: 1px solid gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
/* Body */

body {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

h1 {
  font-size: 2em;
  padding: 0.5rem;
}

h2 {
  font-size: 1em;
  padding: 0.5rem;
}

li {
  list-style: none;
}

/* Header */

.siteHeaderContainer {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  background-color: rgb(206, 38, 89);
  height: clamp(4rem, 15vh, 6rem);
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  align-content: left;
  align-items: baseline;
  border: 1px solid dodgerblue;
}

.siteTitle {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-family: "Poppins";
}

/* Search bar */

.searchFormContainer {
  position: fixed;
  top: clamp(6.5rem, 12vh, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  /* border: 1px solid yellow; */
}

.searchForm {
  width: 95vw;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 1rem;
  border: 3px solid rgb(206, 38, 89, 100);
}

/* Results */

.resultHeader {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.resultContainer {
  /* border: 1px solid green; */
  width: 90vw;
  display: grid;
  grid-template-columns: 40% 10% 25% 20%;
  font-weight: bold;
}

.resultDay {
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 0.3rem;
  width: 95vw;
  background-color: rgb(206, 38, 89, 100);
  display: grid;
  grid-template-columns: 35% 10% 25% 25%;
  justify-content: space-around;
  padding: 0 0.4rem 0 0.4rem;
  /* border: 1px solid dodgerblue; */
}

.resultDayItem {
  display: flex;
  align-items: center;
}

.weatherIcon {
  size: 1rem;
}

/* Footer */
.siteFooterContainer {
  position: fixed;
  bottom: 0vh;
  font-size: 1rem;
  font-weight: bold;
  /* font-family: "Pacifico", cursive; */
  background-color: rgb(206, 38, 89);
  height: 5vh;
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  /* align-items: baseline; */
}

/* media queries */

@media only screen and (max-width: 440px) {
  .siteHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .siteTitle {
    padding-left: 0.2rem;
  }

  .searchForm {
    top: 20vh;
    font-size: 1.6rem;
  }
}
