body {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 1vmin);
  color: white;
}

h1 {
  /* text-align: center; */
  font-size: 2em;
}

h2 {
  /* text-align: center; */
  font-size: 1em;
}

li {
  list-style: none;
}

.border {
  border: 1px solid dodgerblue;
  padding: 1vw;
  margin: 1vw;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.Header {
  height: 20vh;
  width: 80vw;
}

.Body {
  height: 60vh;
  width: 80vw;
}

/* Results */

.dateContainer {
  border: 1px solid red;
}

.resultDay {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 25% 10% 50% 15%;
  justify-content: end;
  padding: 0.5rem;
}

.resultDayItem {
  display: flex;
  align-items: center;
  border: 1px solid salmon;
}

.weatherIcon {
  size: 1rem;
}

/* Search */

.SearchForm {
  margin: 0rem, 20rem;
  width: 80%;
}
